{% extends 'workers/base.html' %}
{% block title %}Other Index Page{% endblock %}
{% block content %}
    <h1>Manage your gym</h1>
    <big>Check out your <a href="/work/customers" class="text-primary">Customer Records</a></big><br>
    <big>Manage your <a href="/work/personal" class="text-danger">Employees</a></big><br>
    <big>Create a <a href="/work/schedule" class="text-warning">Schedule</a></big><br>
    <big>Take care of your <a href="/work/cams" class="text-success">Facility</a></big><br>
{% endblock %}

